/* Reset some default browser styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif; /* Set the font family */
  background-color: #f8f9fc; /* Light background */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
